<div class="main-container">
  <h1 class="text-primary">{{'myCertificates'| translate}}</h1>
  <table class="table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{'table.name'| translate}}</th>
        <th scope="col">{{'table.id'| translate}}</th>
        <th scope="col">{{'table.date'| translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>cert-xxx-xxx</td>
        <td>id-xxx-9999-000</td>
        <td>15/05/2022</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>cert-ccc-rrr</td>
        <td>id-ccc-8888-000</td>
        <td>16/05/2022</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>cert-llll-pppp</td>
        <td>id-vvv-tttt-llll</td>
        <td>16/05/2022</td>
      </tr>
    </tbody>
  </table>

</div>
